    body {
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42DCA3;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url("/img/background.gif");
    background-color: black;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    /*text-shadow: 7px 7px 5px #000;*/
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
    text-shadow: 7px 7px 5px #000;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    text-shadow: 2px 2px 5px #000;
  }
}
.btn {
    font-weight: 400;
}
.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}
.btn-social {
    font-size: 32px;
    border: 0;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    padding: 0;
}
/*.btn-social.btn-facebook {
    background: #4f7dd4;
}
.btn-social.btn-facebook:hover {
    background: #789bde;
}
.btn-social.btn-twitter {
    background: #5bceff;
}
.btn-social.btn-twitter:hover {
    background: #8eddff;
}
.btn-social.btn-linkedin {
    background: #21a6d8;
}
.btn-social.btn-linkedin:hover {
    background: #49b9e3;
}
.btn-social.btn-google-plus {
    background: #dc422b;
}
.btn-social.btn-google-plus:hover {
    background: #e36957;
}*/
.btn-social:hover {
    color: #000;
}
